<ui-select 
	ng-model="row[collumn.index]" 
	ng-change="changeChosen(row, collumn, row[collumn.index])" 
	theme="selectize" 
	class="{{collumn.action.class}}"
	ng-style="collumn.action.style"
	ng-disabled="isDisabledChosen(row, collumn)" 
	name="chosen_{{$index}}" 
	id="chosen_{{$index}}">
  <ui-select-match placeholder="{{collumn.action.placeholder}}">
    <div ng-bind-html="getItemSelected($select.selected, collumn)"></div>
  </ui-select-match>
  <ui-select-choices repeat="item in getAvaliablesChoises(collumn.action.avaliablesChoises, collumn, $select.search)">
    <div ng-bind-html="getItemRender(item,collumn)"></div>
  </ui-select-choices>
</ui-select>
